<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_MODULE_NAME) allow to track your current location for better services</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_MODULE_NAME) allow to track your current location for better services</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>main</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>IBMPlexSerif-Bold.tff</string>
		<string>IBMPlexSerif-BoldItalic.ttf</string>
		<string>IBMPlexSerif-ExtraLight.ttf</string>
		<string>IBMPlexSerif-ExtraLightItalic.ttf</string>
		<string>IBMPlexSerif-Italic.ttf</string>
		<string>IBMPlexSerif-Light.ttf</string>
		<string>IBMPlexSerif-LightItalic.ttf</string>
		<string>IBMPlexSerif-MediumItalic.ttf</string>
		<string>IBMPlexSerif-Regular.ttf</string>
		<string>IBMPlexSerif-SemiBold.ttf</string>
		<string>IBMPlexSerif-SemiBoldItalic.ttf</string>
		<string>IBMPlexSerif-Thin.ttf</string>
		<string>IBMPlexSerif-ThinItalic.ttf</string>
		<string>IBMPlexSerif-Medium.ttf</string>
		<string>AlegreyaSans-LightItalic</string>
		<string>AlegreyaSans-Medium</string>
		<string>AlegreyaSans-MediumItalic</string>
		<string>AlegreyaSans-Regular</string>
		<string>AlegreyaSans-Thin</string>
		<string>AlegreyaSans-ThinItalic</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
